<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"> </div>
        <div class="col-6">
            <div class="card shadow">
                
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <h4 class="text-dark"> register </h4>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" class="form-control" name="email" [(ngModel)]="email">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" name="password" [(ngModel)]="password">
                            </div>
                            
                            <button type="button" class="btn btn-info" (click)="register()">register</button>
                            <div class="col-md-6">  <br>
                                <a href="login" style="text-decoration: none;"> Existing user? <span> login here </span>  </a>
                            </div>
                           
                          </form>
                    </div>
                
            </div>
        </div>
        <div class="col"> </div>
    </div>
</div>
